#titlebar {
	background-image: url('../assets/images/cloud2.gif');
	background-position:center;
	background-repeat:no-repeat;
	background-color:#FFB136;
	text-align: center;
	font-size: 18pt;
	color: #000154;
	padding: 8%;
	opacity: 0.8;
}

.navbar {
	font-family:Helvetica;
	position:sticky;
	z-index:500;
	width:100%;
	top:0;
}

nav.navbar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

nav.navbar span {
	float: left;
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

nav.navbar li {
	float: right;
}

nav.navbar li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

nav.navbar li a:hover {
	background-color: #111;
}

nav.navbar .search-container {
	float: right;
}

nav.navbar input[type=text] {
	padding: 6px;
	margin-top: 8px;
	font-size: 17px;
	border: none;
}

nav.navbar .search-container button {
	float: right;
	padding: 6px 10px;
	margin-top: 8px;
	margin-right: 16px;
	background: #ddd;
	font-size: 17px;
	border: none;
	cursor: pointer;
}

nav.navbar .search-container button:hover {
	background: #ccc;
}

#chart-container {
	float:left;
	height:100%;
	padding:25px;
	padding-left:75px;
}

#chart-container-2 {
	float:right;
	height:100%;
	padding:25px;
	padding-right:75px;
}

#chart-container-3 {
	float:left;
	height:100%;
	padding:25px;
	padding-left:75px;
}

#chart-container-4 {
	float:right;
	height:100%;
	padding:25px;
	padding-right:75px;
}

#pie_chart {
	background-color: white;
	border-radius:8px;
	box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.6);
	overflow:hidden;
	padding:0;
}

#stock_table {
	background-color: white;
	border-radius:8px;
	box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.6);
	overflow:hidden;
	padding:0;
}

#old_histogram {
	background-color: white;
	border-radius:8px;
	box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.6);
	overflow:hidden;
	padding:0;
}

#new_histogram {
	background-color: white;
	border-radius:8px;
	box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.6);
	overflow:hidden;
	padding:0;
}
