<div id="titlebar">
</div>
<nav class="navbar">
	<ul>
		<span>SmartVend</span>
		<li><a>About</a></li>
		<div class="search-container">
			<input type="text" placeholder="Search.." #query type="text">
			<button type="submit" (click)="search(query.value)"><i class="fa fa-search"></i></button>
		</div>
	</ul> 
</nav>
<div id="chart-container">
	<div id="pie_chart"></div>
</div>
<div id="chart-container-2">
	<div id="stock_table"></div>
</div>
<div id="chart-container-3">
	<div id="old_histogram"></div>
</div>
<div id="chart-container-4">
	<div id="new_histogram"></div>
</div>
<div id="distribution-charts-container">
	<div id="dist_1"></div>
	<div id="dist_2"></div>
	<div id="dist_3"></div>
	<div id="dist_4"></div>
	<div id="dist_5"></div>
	<div id="dist_6"></div>
	<div id="dist_7"></div>
	<div id="dist_8"></div>
	<div id="dist_9"></div>
	<div id="dist_10"></div>
	<div id="dist_11"></div>
	<div id="dist_12"></div>
	<div id="dist_13"></div>
	<div id="dist_14"></div>
</div>
